{% load static %}
{% load i18n %}
<tr id="task_{{ task.id }}">
	<td scope="row" class="align-middle text-gray-666">
		{{ forloop.counter }}
	</td>
	<td class="align-middle">
		{% if task.is_completed %}
		<del>{{ task.user }}</del>
		{% else %}
		{{ task.user }}
		{% endif %}
	</td>
	<td class="align-middle text-gray-666">
		{% if task.is_completed %}
		<del>{{ task.description }}</del>
		{% else %}
		{{ task.description }}
		{% endif %}
	</td>
	<td class="align-middle prod-state">
		{% if task.is_completed %}
		<span class="font-weight-500 text-gray-666 ">
			<i class="fas fa-check-circle my-2 mr-2 text-green"></i> <mark><del>{% trans 'completed'|title %}</del></mark>
		</span>
		{% else %}
		<span class="font-weight-400"><i class="fa fa-circle my-2 mr-2 text-red"></i> <em>{% trans 'uncompleted'|title %}</em></span>
		{% endif %}
	</td>
	<td class="align-middle text-center td-buttons">
		<a class="btn-edit-blue mr-1" title="{% trans 'update'|title %}" role="button"
			onclick="CreateAndUpdateTask('{% url "tasks:task_update" task.id %}');"
			href="javascript:void(0);"
			data-toggle="modal" data-target="#update_task">
			<i class="fas fa-edit"></i></a>
		<a class="btn-trash-red mr-1" title="{% trans 'delete'|title %}" role="button"
			onclick="DeleteTask('{% url "tasks:task_delete" task.id %}');"
			href="javascript:void(0);"
			data-toggle="modal" data-target="#delete_task">
			<i class="fa fa-trash"></i></a>
	</td>
</tr>