{% load static %}
{% load i18n %}
{% load custom_perms %}

{% has_perms_role 'change_user' as perm_change %}
{% has_perms_role 'delete_user' as perm_delete %}
    <tr id="user_{{ obj.id }}">
        <td scope="row" class="align-middle text-gray-666">
            {% if obj.first_name or obj.last_name %}
                {{ obj.first_name }} {{ obj.last_name }}
            </a>
            {% else %}
                --
            {% endif %}
        </td>
        <td scope="row" class="align-middle text-gray-666">
            <i class="feather icon-mail mr-1"></i>
            {{ obj.email }}
        </td>
        <td scope="row" class="align-middle text-gray-666">
            {% if obj.phone %}
            <i class="feather icon-smartphone mr-1"></i>
            {{ obj.phone }}
            {% else %}
                --
            {% endif %}
        </td>
        <td scope="row" class="align-middle text-gray-666">
            {% if obj.role %}
            {% for role in obj.role.all %}
            <span class="badge badge-pill badge-primary">{{ role.name|title }}</span>
            {% endfor %}
            {% else %}
                ---
            {% endif %}
        </td>
        <td scope="row" class="align-middle text-gray-666">
        {% if obj.is_active %}
            <span class="font-weight-400">
                <i class="fas fa-check-circle mt-2 mb-2 mr-1 text-green"></i> {% trans 'activo'|title %}
            </span>
        {% else %}
            <span class="font-weight-400">
                <i class="fas fa-minus-circle mt-2 mb-2 mr-1 text-red"></i> {% trans 'inactivo'|title %}
            </span>
        {% endif %}
        </td>
        <td scope="row" class="align-middle text-gray-666">
            {% if obj.organization %}
            <i class="fas fa-industry mr-1"></i>
            {{ obj.organization }}
            {% else %}
                --
            {% endif %}
        </td>
        <td scope="row" class="align-middle text-center td-buttons">
            {% if perm_change %}
            <a class="btn-edit-blue-small2 text-c-yellow mr-2" title="{% trans 'actualizar'|title %}" role="button"
                href='{% url "accounts:user_update" obj.id %}'>
                <i class="fas fa-edit mr-1"></i> {% trans 'actualizar'|title %}
            </a>
            {% endif %}
            {% if perm_delete %}
            <a class="btn-trash-blue text-red ml-2" title="{% trans 'eliminar'|title %}" role="button" name="{{ obj.name }}"
                onclick="DeleteUser('{% url "accounts:user_delete" obj.id %}');"
                href="javascript:void(0);"
                data-toggle="modal" data-target="#delete_role">
                <i class="fas fa-trash-alt mr-1"></i> {% trans 'eliminar'|title %}
            </a>
            {% endif %}
        </td>
    </tr>