/* main: ../main.scss */
.login-register {
  height: 100%;
  padding: 2% 0;
  width: 100%;
}

.login-box {
  margin: 0 auto;
  width: 420px;
}

.nav-pills.custom-pills .nav-link{
	border-radius: 0;
	opacity: .7
}
	.nav-pills.custom-pills .nav-link.active{
		background-color: transparent;
		border-bottom:2px solid #2962FF;
		color: #2962FF;
		opacity: 1;
	}

.nav-pills.tabs-pills .nav-link{
	border-radius: 0;
	opacity: .7
}
	.nav-pills.tabs-pills .nav-link.active{
		background-color: transparent;
		border-bottom:2px solid #F07926;
		color: #F07926;
		opacity: 1;
	}


%avatar-wrapper {
	position: relative;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
	&:hover{
		transform: scale(1.05);
		cursor: pointer;
	}
	&:hover .profile-pic{
		opacity: .5;
	}
	.profile-pic {
    	height: 100%;
		width: 103%;
		transition: all .3s ease;
		&:after{
			/*font-family: FontAwesome;*/
			content: "\f030";
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			padding-top: 30px;
			font-size: 40px;
			background: #fff;
			color: #F07926;
			text-align: center;

		}
	}
	.upload-button {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		.fa-arrow-circle-up{
			position: absolute;
			top: -14px; left: 0;
			text-align: center;
			opacity: 0;
			transition: all .3s ease;
			color: #34495e;
		}
		&:hover .fa-arrow-circle-up{
			opacity: .9;
		}
	}
}
.avatar-wrapper {
	@extend %avatar-wrapper;
	height: 125px;
	width: 125px;
}