{% extends 'tasks/tasks_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans 'Tasks' %}
{% endblock %}

{% block content %}
	<div class="container-fluid mb-5">

		<div class="container-fluid border-top-1px-gray" style="margin-top: -1px;">
			<div class="row">
				<div class="col-12">
					<div class="mt-4 px-5">
					{% if messages %}
						{% for message in messages %}
						<div class="text-center alert alert-success" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
			<div class="row pt-5 pb-4">
				<div class=" col-12 col-sm-6 col-md-6 col-lg-5 pl-0 search-bar">
					<form method="get">
						<div class="input-group">
							<input type="text" class="form-control search-round" name="keyword" id="id_keyword" placeholder="{% trans 'search'|title %}" aria-label="{% trans 'search'|title %}" aria-describedby="button-search">
							<div class="input-group-append">
								<button class="btn btn-gray-EE" type="submit" id="button-search" data-toggle="tooltip" data-placement="bottom" title="{% trans 'search'|title %}">
									<i class="fa fa-search"></i>
								</button>
								<a href="{% url 'tasks:task_list' %}" class="btn btn-gray-EE search-refresh" data-toggle="tooltip" data-placement="bottom" title="{% trans 'clean search'|title %}">
									<i class="fas fa-redo-alt"></i>
								</a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-7 pr-0 text-left text-sm-right text-md-right text-lg-right">
					<a class="btn btn-blue2 text-uppercase" title="{% trans 'add'|title %}" role="button"
						onclick="CreateAndUpdateTask('{% url "tasks:task_create" %}');"
						href="javascript:void(0);"
						data-toggle="modal" data-target=".bd-example-modal-lg">
						{% trans "add"|title %}
						<i class="fas fa-plus-circle float-left mr-2 mt-1"></i>
					</a>
				</div>
				{% include 'tasks/utils/_create_task.html' %}
			</div>

			<div class="row bg-white" role="tabpanel">
				<div class="col-lg-12 table-responsive px-0">
					<table class="table table-hover">
						<thead>
							<tr class="font-weight-500 text-gray-666 text-capitalize">
								<th scope="col" class="align-middle border-top-0 border-left pr-0">{% trans '#' %}</th>
								<th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'user' %}</div></th>
								<th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'description'|title %}</div></th>
								<th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'status'|title %}</div></th>
								<th scope="col" class="align-middle border-top-0 pr-0 text-center"><div class="border-right">{% trans 'actions'|title %}</div></th>
							</tr>
						</thead>
						<tbody class="font-weight-300">
						{% for task in object_list %}
							{% include 'tasks/utils/_row_task.html' %}
						{% empty %}
							<tr>
								<td class="text-center" colspan="7">{% trans 'You have no tasks yet' %}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% include 'utils/_paginator.html' %}
				</div>
			</div>
			{% include 'tasks/utils/_delete_task.html' %}
		</div>
	</div>

{% endblock %}


{% block scripts %}
    <script>
        function DeleteTask(url) {
            $('.modal-body').load(url,function(){
                $('#deleteTask').modal({show:true});
            });
        }
        function CreateAndUpdateTask(url) {
        	$('.modal-body').load(url,function(){
                $('#createTask').modal({show:true});
            });
        }
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
{% endblock scripts %}

{% block fixed-bottom %}fixed-bottom{% endblock %}