{% extends 'tasks/tasks_base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'navbar.html' with active='todo list'  %}
{% endblock %}

{% block title %}
	{% trans 'Todo List' %}
{% endblock %}

{% block content %}
	<div class="container-fluid mb-5">
		<div class="container-fluid border-top-1px-gray" style="margin-top: -1px;">
			<div class="row pt-5 pb-4">
				<div class=" col-12 col-sm-6 col-md-6 col-lg-4 pl-0 search-bar">
					<form method="get">
						<div class="input-group">
							<input type="text" class="form-control search-round" name="keyword" id="id_keyword" placeholder="{% trans 'search'|title %}" aria-label="{% trans 'search'|title %}" aria-describedby="button-search">
							<div class="input-group-append">
								<a href="javascript:void(0);" id="id_search" class="btn btn-gray-EE search-refresh" data-toggle="tooltip" data-placement="bottom" title="{% trans 'clean search'|title %}">
									<i class="fas fa-redo-alt"></i>
								</a>
							</div>
						</div>
					</form>
				</div>

				<div class=" col-12 col-sm-6 col-md-6 col-lg-8 pl-0 search-bar">
					<form method="get">
						<div class="input-group">
							<input type="text" class="form-control search-round" name="task" id="id_task" placeholder="{% trans 'Description task' %}" aria-label="{% trans 'description'|title %}" aria-describedby="button-search">
							<div class="input-group-append">
								<a href="javascript:void(0);" onclick="AddTask();" class="btn btn-green-EE search-refresh" data-toggle="tooltip" data-placement="bottom" title="{% trans 'add task'|title %}">
									<i class="fas fa-plus mr-2"></i> {% trans 'add'|title %}
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="row bg-white" role="tabpanel">
				<div class="col-lg-12 table-responsive px-0">
					<table class="table table-hover">
						<thead>
							<tr class="font-weight-500 text-gray-666 text-capitalize">
								<th scope="col" class="align-middle border-top-0 border-left pr-0">{% trans '#' %}</th>
								<th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'user' %}</div></th>
								<th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'description'|title %}</div></th>
								<th scope="col" class="align-middle border-top-0 pr-0"><div class="border-right">{% trans 'status'|title %}</div></th>
								<th scope="col" class="align-middle border-top-0 pr-0 text-center"><div class="border-right">{% trans 'actions'|title %}</div></th>
							</tr>
						</thead>
						<tbody class="font-weight-300">
						{% for task in object_list %}
							{% include 'tasks/utils/_row_task.html' %}
						{% empty %}
							<tr>
								<td class="text-center" colspan="7">{% trans 'You have no tasks yet' %}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% include 'utils/_paginator.html' %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
    <script>

		const xhr = async (url, type, data) => {
			return await $.ajax({
				url: url,
				type: type,
				contentType: 'application/json',
				dataType: 'json',
				data: data,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
				},
				success: function (data) {
					return data;
				}
			});
		};

        function AddTask(){
			var task = $("#id_task").val();
			if( task ){
				var url = "{% url 'Users List' 'v1' %}";
				const res = xhr(url, 'GET');
				res.then((obj) => {
					var results = obj['results'][0];
					console.log(obj)
					console.log(results)

				});
			}
		}

        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
{% endblock scripts %}

{% block fixed-bottom %}fixed-bottom{% endblock %}