{% extends "accounts/accounts_base.html" %}
{% load i18n %}

{% block title %}
	{% trans 'logout' %}
{% endblock %}
{% block content-form %}

		<div class="row">
			<div class="col-lg-12">
				<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

				<p><a href="{% url 'accounts:login' %}">{% trans 'Log in again' %}</a></p>
			</div>
		</div>

{% endblock %}
