{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Login' %}
{% endblock %}

{% block login-register %}
	{% if not request.user.is_authenticated %}
        <form method="post" class="form-horizontal" id="loginform" enctype="multipart/form-data">
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                <div class="text-center alert alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <h1 class="text-center py-3">{% trans "Login" %}</h1>
            </div>

            {% if form.non_field_errors %}
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" >
                        {% for error in form.non_field_errors %}
                            {{error}}
                        {% endfor %}
                        <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-12">
                    {{ form.username }}
                    <div class="text-danger right-align">
                        {{ form.username.errors }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    {{ form.password }}
                    <div class="text-danger right-align">
                        {{ form.password.errors }}
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-4">
                <div class="col-12">
                    <button class="btn btn-primary btn-lg" name="{% trans 'login' %}" type="submit">
                        <i class="fas fa-sign-in-alt mr-2"></i> {% trans "Login" %}
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-12 text-center">
                        <a class="btn btn-link" href="{% url 'accounts:password_reset' %}">
                            <i class="fas fa-key mr-2"></i> {% trans 'Forgot your Password?' %}
                        </a>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-link" href="{% url 'accounts:signup' %}">
                            <i class="fas fa-user-plus mr-2"></i> {% trans "Create new account" %}
                        </a>
                    </div>
                </div>
            </div>
        </form>
	{% else %}
	<script type="application/javascript">
		window.location = "/organizations/create/";
	</script>
	{% endif %}

{% endblock %}

{% block fixed-bottom %}fixed-bottom{% endblock %}