{% extends "accounts/accounts_base.html" %}
{% load i18n %}

{% block title %}{% trans 'password reset sent' %}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content-form %}
		<div class="row">
			<div class="col-12 p-5">
				<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
				<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
			</div>
		</div>
{% endblock %}
