{% extends "accounts/accounts_base.html" %}
{% load i18n %}

{% block title %}{% trans 'password reset complete' %}{% endblock %}

{% block content-form %}

		<div class="row">
			<div class="col-lg-12">
				<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
				<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
			</div>
		</div>

{% endblock %}
