{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans 'Signup' %}
{% endblock %}

{% block login-register %}

	{% if not user.is_authenticated %}
		<form method="post" id="loginform" enctype="multipart/form-data">
			{% csrf_token %}
			{% if messages %}
				{% for message in messages %}
				<div class="text-center alert alert-success" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
			{% endif %}

			<div class="form-group">
				<h1 class="text-center py-3">{% trans "Sign Up" %}</h1>
			</div>

			<div class="form-group">
				<div class="col-12">
					{{ form.email }}
					<div class="text-danger">
						{{ form.email.errors }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-12">
					{{ form.password1 }}
					<div class="text-danger">
						{{ form.password1.errors }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-12">
					{{ form.password2 }}
					<div class="text-danger">
						{{ form.password2.errors }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-12">
					{{ form.first_name }}
					<div class="text-danger">
						{{ form.first_name.errors }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-12">
					{{ form.last_name }}
					<div class="text-danger">
						{{ form.last_name.errors }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-12">
					{{ form.phone }}
					<div class="text-danger">
						{{ form.phone.errors }}
					</div>
				</div>
			</div>

			<div class="form-group text-center mt-4">
				<div class="col-12">
					<button class="btn btn-primary btn-lg" type="submit">
						<i class="fas fa-sign-in-alt mr-2"></i> {% trans "Create" %}
					</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-12 text-center">
					<a class="btn btn-link" href="{% url 'accounts:login' %}">{% trans "Already have an account?" %}</a>
				</div>
			</div>
		</form>
	{% else %}
	<script>
		window.location.href = "{% url 'home' %}";
	</script>
	{% endif %}
{% endblock %}