/* main: ../main.scss */

body{
	font-weight: 300;
	background-color: #F3F5F7 !important;
}

.font-weight-bold{
	font-weight: bold !important;
}

.font-weight-300{
	font-weight: 300 !important;
}

.font-weight-400{
	font-weight: 400 !important;
}
.font-weight-600{
	font-weight: 600 !important;
}

.font-weight-500{
	font-weight: 500 !important;
}

.font-weight-700{
	font-weight: 700 !important;
}

.font-weight-900{
	font-weight: 900 !important;
}

.font-size-8{
	font-size: $f-8px !important;
}

.font-size-9{
	font-size: $f-9px !important;
}

.font-size-10{
	font-size: $f-10px !important;
}

.font-size-10{
	font-size: $f-10px !important;
}

.font-size-11{
	font-size: $f-11px !important;
}

.font-size-12{
	font-size: $f-12px !important;
}

.font-size-13{
	font-size: $f-13px !important;
}

.font-size-14{
	font-size: $f-14px !important;
}

.font-size-15{
	font-size: $f-15px !important;
}

.font-size-16{
	font-size: $f-16px !important;
}

.font-size-18{
	font-size: $f-18px !important;
}

.font-size-20{
	font-size: $f-20px !important;
}

.font-size-22{
	font-size: $f-22px !important;
}

.font-size-24{
	font-size: $f-24px !important;
}

.font-size-26{
	font-size: $f-26px !important;
}

.font-size-28{
	font-size: $f-28px !important;
}

.font-size-30{
	font-size: $f-30px !important;
}

.font-size-32{
	font-size: $f-32px !important;
}

.font-size-34{
	font-size: $f-34px !important;
}

.font-size-36{
	font-size: $f-36px !important;
}

.font-size-38{
	font-size: $f-38px !important;
}

.font-size-40{
	font-size: $f-40px !important;
}

.font-size-42{
	font-size: $f-42px !important;
}

.font-size-44{
	font-size: $f-44px !important;
}

.font-size-48{
	font-size: $f-48px !important;
}

.font-size-52{
	font-size: $f-52px !important;
}

.font-size-64{
	font-size: $f-64px !important;
}

.bg-green{
	background: $green !important;
	&:hover{
		background: darken($green,8) !important;
	}
}

.bg-orange{
	background: $orange !important;
	&:hover{
		background: darken($orange,8) !important;
	}
}

.bg-blue{
	background: $blue !important;
	&:hover{
		background: darken($blue,8) !important;
	}
}

.bg-red{
	background: $red !important;
	&:hover{
		background: darken($red,8) !important;
	}
}

.bg-purple{
	background: $purple !important;
	&:hover{
		background: darken($purple,8) !important;
	}
}

.bg-gray-222{
	background: $gray-222 !important;
	&:hover{
		background: darken($gray-222,8) !important;
	}
}

.bg-gray-D8{
	background: $gray-D8 !important;
}

.bg-gray-darker{
	background: $gray-darker !important;
	&:hover{
		background: darken($gray-darker,8) !important;
	}
}

.bg-gray-dark{
	background: $gray-dark !important;
	&:hover{
		background: darken($gray-dark,8) !important;
	}
}

.bg-gray{
	background: $gray !important;
	&:hover{
		background: darken($gray-lighter,1) !important;
	}
}

.bg-gray-light{
	background: $gray-light !important;
}

.bg-gray-lighter{
	background: $gray-lighter !important;
	&:hover{
		background: darken($gray-lighter,8) !important;
	}
}

.bg-white{
	background: $white !important;
}

.bg-black{
	background: $black !important;
}

.bg-blue-light{
	background: $blue-light !important;
	&:hover{
		background: darken($blue-light,8) !important;
	}
}

.bg-light-blue{
	background: $light-blue-light !important;
	&:hover{
		background: darken($light-blue-light,8) !important;
	}
}

.text-green{
	color: $green !important;
}

.text-orange{
	color: $orange !important;
}

.text-blue{
	color: $blue !important;
}

.text-red{
	color: $red !important;
}

.text-red-dark{
	color: $red-dark !important;
}

.text-purple{
	color: $purple !important;
}

.text-purple-dark{
	color: $purple-dark !important;
}

.text-gray-222{
	color: $gray-222;
}

.text-gray-darker{
	color: $gray-darker !important;
}

.text-gray-dark{
	color: $gray-dark !important;
}

.text-gray{
	color: $gray !important;
}

.text-gray-light{
	color: $gray-light !important;
}

.text-gray-lighter{
	color: $gray-lighter !important;
}

.text-gray-87{
	color: $gray-87 !important;
}

.text-gray-666{
	color: $gray-666 !important;
}

.text-white{
	color: $white !important;
}

.text-black{
	color: $black !important;
}

.text-pink{
	color: $pink !important;
}

.text-pink-light{
	color: $pink-light !important;
}

.text-cyan{
	color: $cyan !important;
}

.text-cyan-light{
	color: $cyan-light !important;
}

.text-teal{
	color: $teal !important;
}

.text-teal-light{
	color: $teal-light !important;
}

.text-green-accent{
	color: $green-accent !important;
}

.text-blue-light{
	color: $blue-light !important;
}

.text-light-blue-light{
	color: $light-blue-light !important;
}

.text-amber{
	color: $amber !important;
}

.text-brown{
	color: $brown !important;
}

.text-brown-light{
	color: $brown-light !important;
}

.text-yellow{
	color: $yellow !important;
}

.text-yellow-light{
	color: $yellow-light !important;
}

.text-yellow-accent{
	color: $yellow-accent !important;
}

.text-green-light{
	color: $green-light !important;
}

.text-lime{
	color: $lime !important;
}

.text-indigo{
	color: $indigo !important;
}

.link-white{
	color: $white !important;
	&:hover{
		color: $orange !important;
		text-decoration: none !important;
	}
}

.link-gray{
	color: $gray-darker !important;
	&:hover{
		color: $orange !important;
	}
}

.link-blue{
	color: $blue !important;
	&:hover{
		color: $orange !important;

	}
}

.btn{
	border-radius: 0!important;
	padding: 0.5rem 3rem !important;
}

.btn-green{
	background: $green !important;
	color: $white !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	border-radius: 2rem !important;
	&:hover{
		background: darken($green,5) !important;
	}
}

.btn-orange{
	background: $orange !important;
	color: $white !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	border-radius: 2rem !important;
	&:hover{
		background: darken($orange,10) !important;
	}
}

.btn-white{
	background: $white !important;
	color: $white !important;
	border: 1px solid $black !important;
	border-radius: 2rem !important;
}

.btn-blue{
	background: $blue !important;
	color: $white !important;
}

.btn-orange{
	background: $orange !important;
	color: $white !important;
}

.btn-blue-light{
	background: $blue-light !important;
	color: $white !important;
	&:hover{
		background: darken($blue-light,8) !important;
	}
}

.btn-red{
	background: $red !important;
	color: $white !important;
}

.btn-purple{
	background: $purple !important;
	color: $white !important;
	&:hover{
		background: darken($purple,8) !important;
	}
}

.btn-black{
	background: $black !important;
	color: $white !important;
}

.btn-gray{
	background: $gray-87 !important;
	color: $white !important;
}

.btn-outline-orange {
    color: $orange !important;
    border: 1px solid $orange !important;
	border-radius: 2rem !important;

}

.btn-outline-orange:hover {
	color: $white !important;
	background: $orange;
    border-color: $orange;
	border-radius: 2rem !important;
}

.btn-circle {
   /* width: 30px !important;
    height: 30px !important;*/
    padding: 0.4rem 0.55rem !important;
    border-radius: 50% !important;
    text-align: center;
    font-size: $f-11px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
	width: 60px !important;
	height: 60px !important;
	padding: 10px 10px !important;
	border-radius: 50% !important;
	font-size: 24px;
	line-height: 1.33;
}

.no-bg{
	background: none !important;
}

.no-border{
	border:none !important;
}

.no-border-radius{
	border-radius: 0 !important;
}

.border-top-1px-solid-white{
	border-top:1px solid $white;
}

.border-top-1px-gray{
	border-top:1px solid $gray !important;
}

.border-bottom-1px-gray{
	border-bottom:1px solid $gray !important;
}

.border-bottom-2px-gray{
	border-bottom:2px solid $gray !important;
}

.border-top-2px-gray{
	border-top:2px solid $gray;
}

.border-top-2px-orange{
	border-top:2px solid $orange !important;
}

.border-bottom-2px-orange{
	border-bottom:2px solid $orange !important;
}

.border-bottom-4px-orange{
	border-bottom:4px solid $orange !important;
}

.border-bottom-2px-cyan{
	border-bottom:2px solid $cyan !important;
}

.border-bottom-2px-blue-light{
	border-bottom:2px solid $blue-light !important;
}

.border-top-2px-purple{
	border-top:2px solid $purple-dark !important;
}

.border-bottom-2px-purple-dark{
	border-bottom:2px solid $purple-dark !important;
}

.border-bottom-4px-purple-dark{
	border-bottom:4px solid $purple-dark !important;
}

.border-bottom-2px-red-dark{
	border-bottom:2px solid $red-dark !important;
}

.border-bottom-2px-blue{
	border-bottom:2px solid $blue !important;
}


/**
* Elipsis
*/
.elipsis-2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.elipsis-3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.form-group{
	label{
		color: $black;
	}
}

input[type=text], input[type=password], input[type=email] {
	background-color: $white !important;
	border-bottom: 1px solid $gray-D8;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 0px;
	padding-left: 0;
	/*font-family: $sourcesans !important;*/
	color:$gray-dark;
}

input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-light;
}

input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: $gray-light;
}

input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: $gray-light;
}

input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: $gray-light;
}

.btn-success{
	background-color: $blue;
	border-color: $blue;
	color: $white !important;
}

.avatar-wrapper, .company-wrapper{
	-webkit-box-shadow: 0px 4px 5px 1px rgba(216,216,216,0.8);
	-moz-box-shadow: 0px 4px 5px 1px rgba(216,216,216,0.8);
	box-shadow: 0px 4px 5px 1px rgba(216,216,216,0.8);
}
.avatar-wrapper.createproduct{
	border-radius: 8px!important;
	box-shadow: none;

	.profile-pic{
		&:after{
			background: $gray-D8;
			color: $white;

		}
	}
}
.select2{
	.selection{
		.select2-selection{
			border-bottom: 1px solid $gray-D8;
			border-left: 0;
			border-right: 0;
			border-top: 0;
			border-radius: 0;
			height: 34px;
		}
	}
}

#main-navbar{
	.nav-link{
		color: $blue;
		font-weight: 300 !important;
		&:hover{
			color: $orange;
		}
	}
	.nav-link.active{
		color: $orange!important;
	}
	.dropdown-toggle::after {
		vertical-align: 0.2em !important;
	}
}

.navbar-orange{
	.nav-link{
		color: $orange;
		&:hover{
			color: $white;
			background-color: $orange;
			-webkit-border-radius: 0px;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius: 0px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-radius: 0px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}

	}
	.nav-link.active{

		color: $white!important;
		background-color: $orange!important;
		-webkit-border-radius: 0px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius: 0px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-radius: 0px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.navbar-types{
	.nav-link {
		color: $gray-666;
		border-radius: 0!important;
		border-bottom: 2px solid $gray-666;

		&:hover{
			border-bottom: 2px solid $gray-666;
			border-radius: 0;
		}
	}
	.nav-link.active{
		//color: $gray-666!important;
		background-color: inherit!important;
		border-radius: 0;
	}
}

.search-bar{
	.search-round{
		-webkit-border-radius: 50px 0 0 50px !important;
		-moz-border-radius: 50px 0 0 50px !important;
		border-radius: 50px 0 0 50px !important;
		border: 0;
		color: $blue;
		font-size: 17px;
		padding-left: 10px;
		padding-right: 10px;
		height: 45px;

	}
	text:focus, input:focus {
		color: $blue!important;

	}
}
.search-icon{
	right: 30px;
	top: 1px;
}

.btn-link{
	font-weight: 300 !important;
}

.btn-blue-emptied{
	background: $white !important;
	color: $blue !important;
	border: 1px solid $blue !important;
	&:hover{
		background: $blue !important;
		color: $white !important;
		border: none;
	}
}

.btn-search-restart{
	color: $white!important;
	background: $blue!important;
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border: 0;
	-webkit-appearance: inherit!important;
	width: 45px;
	height: 45px;
	padding: 12px!important;

}

.btn-upload-white{
	background-color: $white!important;
	color: $blue !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;
	padding: 0.58rem 2rem !important;
}

.btn-close-red{
	background-color: $red !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;


}

.btn-add-blue{
	background-color: $blue !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;


}

.btn-cancel-white{
	background-color: $white!important;
	color: $blue !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;
}

.btn-save-blue{
	background-color: $blue !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;
}

.btn-download-blue{
	background-color: $blue !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;

}

.btn-edit-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.7rem 0.8rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-innerpack-amber{
	color: $white!important;
	background: $amber!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.75rem 0.7rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
	i{
		margin-left: 1px;
	}
}

.btn-edit-blue-small2{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.6rem 0.6rem 0.6rem 0.8rem !important;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-trash-blue-small2{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.6rem 0.9rem !important;
	&:hover{
		background: $orange!important;
	}
}

.btn-edit-blue-small{
	color: $white!important;
	background: $blue!important;
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border: 0;
	-webkit-appearance: inherit!important;
	padding: 0.5rem 0.5rem !important;
	text-align: center;

	&:hover{
		background: $orange!important;
	}
}

.btn-trash-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.7rem 0.8rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-add-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.6rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-blue2{
	color: $white!important;
	background: $blue!important;
	border-radius: 0.2rem !important;
	border: 0;
	padding: 0.5rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-green2{
	color: $white!important;
	background: $green!important;
	border-radius: 0.2rem !important;
	border: 0;
	padding: 0.5rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $green!important;
		text-decoration: none;
	}
}

.btn-white2{
	color: $blue!important;
	background: $white!important;
	border-radius: 0.2rem !important;
	border: 0;
	padding: 0.5rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		color: $white!important;
		text-decoration: none;
	}
}

.btn-trashcan-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.5rem 0.8rem !important;
	text-align: center;
	text-decoration: none;
	margin-top: -0.3rem;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-trash-red{
	color: $white!important;
	background: $red!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.7rem 1rem !important;
	text-align: center;
	&:hover{
		background: $orange!important;

	}
}

.btn-round{
	color: $white!important;

	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border: 0;
	-webkit-appearance: inherit!important;
	width: 44px;
	height: 44px;
	padding: 12px 15px!important;
	text-align: center;

}

.input-box{
	.input-group-prepend {
		width: 40%;
		.input-group-text {
			width: 100%;
		}
	}
	input{
		width: 60% !important;
		padding: 5px;

	}
}

.name-user{
	position: relative;
	padding-right: 4rem !important;
	&:after{
		position: absolute;
		right: 0;
		top: 1.7em;
	}
	.img-avatar{
		top: 5px!important;

	}
	.img-avata-bg{
		background-size: cover!important;
		border: 1px solid $orange;
		border-radius: 50%;
		position: absolute;
		right: 23px;
		background-position: 50% 50%!important;

	}
}

.table-noborder-l-r{
  border-left: 0!important;
  border-right: 0!important;
  td{
	 border-left: 0!important;
	 border-right: 0!important;
  }
}

.rounded-tbl-5{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.rounded-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

/* Add styles to the form container */
.form-container {
	max-width: 300px;
	padding: 15px;
	background-color: white;
}

/* Full-width textarea */
.form-container textarea {
	width: 100%;
	padding: 15px;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 100px;

}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .btn-chat:hover {
	opacity: 1;
}

.message_text_input{
	width: 100%;
}

.table{
	margin-bottom: 0 !important;
	border-bottom: 1px solid #dee2e6 !important;
}

.table th, .table td{

}

.btn-gray-EE{
	background: $gray-EE !important;
	color: $gray !important;
	padding: 0.5rem 1rem !important;
	&:hover{
		background: $gray-light !important;
		color: $gray-dark !important;
	}
	&.search-refresh{
		border-left:1px solid $gray !important;
		border-radius: 0 50px 50px 0 !important;
	}
}

.btn-green-EE{
	background: $green !important;
	color: $white !important;
	padding: 0.5rem 1rem !important;
	&:hover{
		background: $green-dark !important;
		color: $white !important;
	}
	&.search-refresh{
		border-left:1px solid $gray !important;
		border-radius: 0 50px 50px 0 !important;
	}
}