/* main: ../main.scss */

/**
* Colors
*/
$white:					#FFFFFF;
$black:					#000000;
$green:					#7ED321;
$orange:				#F07926;
$blue: 					#00599C;
$red:					#BF232C;
$red-dark:				#B00000;
$purple:				#7C00B6;
$purple-dark:			#7C00B6;
$gray-222:				#222222;
$gray-darker:			#303030;
$gray-dark:				#4A4A4A;
$gray:					#9B9B9B;
$gray-light:			#CECECE;
$gray-EE: #eeeeee;
$gray-lighter:			#F5F5F5;
$gray-D8:			  	#D8D8D8;
$gray-87:				#878787;
$gray-666:				#666666;

$pink:					#E91E63;
$pink-light:            #F48FB1;
$cyan:                  #00BCD4;
$cyan-light:            #80DEEA;
$teal:                  #009688;
$teal-light:            #80CBC4;
$green-accent:          #B9F6CA;
$blue-light:            #007bff;
$light-blue-light:      #B3E5FC;
$amber: 				#FFC107;
$brown:                 #795548;
$brown-light:			#A1887F;
$yellow:                #FFEB3B;
$yellow-light:          #FFEE58;
$yellow-accent:			#FFFF00;
$green-light:           #CCFF90;
$green-dark:            #60af0c;
$lime:                  #CDDC39;
$indigo:                #3F51B5;


/**
* FONTS
*/
/**
* Font sizes
*/

$f-8px				: 0.5rem;
$f-9px				: 0.5625rem;
$f-10px				: 0.625rem;
$f-11px				: 0.6875rem;
$f-12px				: 0.75rem;
$f-13px				: 0.8125rem;
$f-14px				: 0.875rem;
$f-15px				: 0.9375rem;
$f-16px				: 1rem;
$f-18px				: 1.125rem;
$f-20px				: 1.25rem;
$f-22px				: 1.375rem;
$f-24px				: 1.5rem;
$f-26px				: 1.625rem;
$f-28px				: 1.75rem;
$f-30px				: 1.875rem;
$f-32px				: 2rem;
$f-34px				: 2.125rem;
$f-36px				: 2.25rem;
$f-38px				: 2.375rem;
$f-40px				: 2.5rem;
$f-42px				: 2.625rem;
$f-44px				: 2.75rem;
$f-46px				: 2.875rem;
$f-48px				: 3rem;
$f-52px				: 3.25rem;
$f-64px				: 4rem;

/* Type Fonts */